/* FONTS */
@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo-Regular.ttf");
}
@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Regular.ttf");
}

/* BASE STYLING */
p {
  font-family: 'Arvo', cursive;
}

a {
  color:#000;
  padding:3px;
}a:hover {
  color:#000;
  text-decoration:none;
  border-bottom:solid 2px red;
  padding-bottom:1px;
}

/* BOOTSTRAP STYLING */
.jumbotron {
  padding: 50px;
  margin-top:50px;
  border-radius:0px;
}

.btn {
  border-radius:0px;
}

a.btn:hover {
  padding:.375rem .75rem;
  border:0.5px solid;
}

.container {
  position:relative;
  padding-bottom:300px;
}

.alert {
  border-radius:0px;
  text-align:center;
}

.dropdown .dropdown-toggle {
    padding-left:.5rem;
    padding-right:.5rem;
    line-height:40px;
    color:rgba(0,0,0,0.5);
}

.dropdown-menu li a {
    color:rgba(0,0,0,0.5);
}

.dropdown-menu {
    padding:1rem !important;
}

/* ID's */
#version {
  font-size:18px;
  font-style:italic;
  color:grey;
  margin-top:-30px;
  margin-bottom:40px;
}

/* CLASSES */
.footer-wrapper {
  position:relative;
  min-height:63vh;
}

.heading {
  padding:30px;
  font-family: 'Merriweather', cursive;
  text-transform:uppercase;
  text-align:center;
  text-decoration:underline;
}

.subheading {
  text-align:center;
  font-family: 'Merriweather', cursive;
  font-size:1.5em;
}

.small-img {
  width:40px;
  height:40px;
}

.medium-img {
  width:80px;
  height:80px;
}

.rounded-img {
  border-radius:100%;
  object-fit:cover;
}

.centered-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.symbolism div {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:50%;
}

.symbolism {
  padding:40px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.footer {
  background-color:#fff;
  padding:0px;
  padding-bottom:0px;
  position:fixed;
  width:7vw;
  bottom:0px;
  left:47%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
  border-bottom:none;
}

.requirements {
  color:grey;
}
