{% extends 'layout.html' %}

{% block body %}
  <h1 class="heading">About Konsent</h1>
  <h2 class="subheading">On hierarchy and the freedom to make decisions</h2>
  <div class="jumbotron center">
    <p class="lead">
      It's easy to leave your choices to others; to give up own will to avoid the intimidating prospect of taking decisions.
    </p>
    <p>
      It's easy to let others lift the weight from your shoulders; to elect a president, vote for a politician or donate to a non-profit.
      It allows one to avoid, to a certain extent at least, making a choice that results in an unwanted outcome.
    </p>
    <p>
      It also essentially means giving up freedom. Giving up your ability to develop your <i>self</i>, to learn from your mistakes and shape your own life
      on the fundaments of your own beliefs. It is of vital importance that we one have the strength to carry their
      decisions on their shoulders - and, perhaps of even greater importance, that they realize and truly believe the fact that nobody
      can decide on their behalf, better than their very self.
    </p>
    <p>
      The inevitable truth is that we are more or less stuck here, on planet earth, with our fellow humans, animals and environment,
      and therefore have to respect these entities in order to ensure our own welfare, whether we like it or not. The systems and structures that currently
      rule our society, are largely based on the belief that humans are not able to respect and hold dear anything but themselves - with the exception of
      a few chosen individuals, those that are morally superior in every way, and therefore have the ability to righteously rule
      the proletariat. These structures are based on the idea that chaos, death and abuse will erupt almost instantaneously, if society is left without hierarchy.
    </p>
    <p>
      Konsent is my proposal for how these destructive power structures can be abolished in smaller communities, in order to
      establish equal freedom for every individual. Konsent is based on old concepts such as concensus, direct democracy, flat
      decision-making, communism, anarchism and anarchist-communism. Konsent is hands-on proof that communities can thrive without hierarchy.
    </p>
    <p><i>- Adrian E. Bratlann</i></p>
    <div class="symbolism">
      <div>
        <img class="rounded-img centered-img medium-img" alt="Anarkisme" src="{{ url_for('static', filename='images/anarchism-symbol-modern.png') }}">
        <img class="rounded-img centered-img medium-img" alt="Anarcho-syndikalisme" src="{{ url_for('static', filename='images/anarcho-syndicalist-flag.png') }}">
        <img class="rounded-img centered-img medium-img" alt="Iron Front anti-fascisme" src="{{ url_for('static', filename='images/iron-front-symbol.png') }}">
      </div>
    </div>
  </div>
{% endblock %}
