{% extends 'layout.html' %}

{% block body %}
  <h1 class="heading">Connect to your first union</h1>
  {% from 'includes/_formhelpers.html' import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.union, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.union_password, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.submit, class_="form-control form-submit") }}
    </div>
    <p>
      <a href="/register-union" class="form-control btn btn-info">Create new union</a>
    </p>
  </form>
{% endblock %}
