{% extends 'layout.html' %}
{% block body %}
<div class="flex-center" id="index">
  <div class="jumbotron text-center lonely">

    <h1 class="heading">Konsent</h1>
    <h2 id="version">v. 0.4b</h2>
    {% if current_user.username %}
    <h2 class="subheading">Welcome {{ current_user.username }}</h2>
    {% endif %}
    <p class="lead">Decisions without hierarchy.</p>
    <br><br>
    {% if current_user.username and current_user.union_id %}
    <a href="/new-post" class="btn btn-success">Post a new issue</a>
    {% elif current_user.username and not current_user.union_id %}
    <a href="connect-union" class="btn btn-primary">Connect to a union</a>
    {% elif not current_user.username %}
    <a href="/login" class="btn btn-success">Login</a>
    <a href="/register" class="btn btn-info">New Account</a>
    <a href="/about" class="btn btn-primary">About Konsent</a>
    {% endif %}
  </div>
</div>

{% endblock %}
