{% extends 'layout.html' %}

{% block body %}
  <h1 class="heading">Post a new issue</h1>
  {% from 'includes/_formhelpers.html' import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.title, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.body, class_="form-control", id="editor") }}
    </div>
    <div class="form-group" title="Time before progressing from each phase" data-toggle="tooltip">
        {{ render_field(form.resting_time, class_="form-control") }}
    </div>
    <div class="form-group">
        <input type="radio" id="days" name="unit" value="days">
        <label for="days">Days</label>
        <input type="radio" id="hours" name="unit" value="hours" checked="checked">
        <label for="hours">Hours</label>
        <input type="radio" id="minutes" name="unit" value="minutes">
        <label for="minutes">Minutes</label>
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
  </form>

{% endblock %}
