{% extends 'layout.html' %}

{% block body %}
  <h1 class="heading">Solution proposals and discussion</h1>
  <ul class="list-group">
    {% for post in posts %}
      <li class="list-group-item"><a href="phase2/post/{{post.id}}">
          {{post.title}}</a>
          {% if post.progresses_in_hours %}
          <span>progresses in about {{ post['progresses_in_hours'] }}h</span>
          {% else %}
          <span>progresses in {{ post['progresses_in_minutes'] }}m</span>
          {% endif %}
          <span>- by {{ post.author.username }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
