[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.2"
wtforms = "==2.1"
click = "==6.7"
flask-sqlalchemy = "==2.3.2"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
markupsafe = "==1.0"
sqlalchemy = "==1.2.5"
werkzeug = "==0.14.1"
bcrypt = "==3.1.4"
flask-login = "==0.4.1"
apscheduler = "*"
mysqlclient = "*"

[dev-packages]
pytest-watch = "*"
pytest-mock = "*"
blinker = "*"
coverage = "*"
pytest-cov = "*"
selenium = "*"
