[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
wtforms = "*"
flask-mysqldb = "*"
passlib = "*"


[dev-packages]



[requires]

python_version = "3.5"
