argh==0.26.2
flask_login==0.4.1
attrs==17.4.0
bcrypt==3.1.4
blinker==1.4
cffi==1.11.5
click==6.7
colorama==0.3.9
coverage==4.5.1
docopt==0.6.2
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
-e git+git@github.com:surrealbytes/Konsent@7fa54462dccd6b80b01215b7d44413dcdc550f1d#egg=konsent
MarkupSafe==1.0
more-itertools==4.1.0
mysqlclient==1.3.12
passlib==1.7.1
pathtools==0.1.2
pluggy==0.6.0
py==1.5.3
pycparser==2.18
pytest==3.5.0
pytest-cov==2.5.1
pytest-mock==1.7.1
pytest-watch==4.1.0
PyYAML==3.12
selenium==3.11.0
six==1.11.0
SQLAlchemy==1.2.5
watchdog==0.8.3
Werkzeug==0.14.1
WTForms==2.1
