{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1 class="heading">Stop!</h1>
    <p class="lead">Are you sure that you want to veto this solution?</p>
    <p>You've attempted to veto a solution. Please be aware that your right to veto should be excercised cautiously, and only in the most extreme cases; only if you feel that this solution deeply infringes your personal values, and would not benefit the greater good of the community.</p>
    <p><b>Vetoes are public!</b> All members of your union will be able to see that you in particular vetoed this solution.</p>
    <a href="/veto/{{ id }}" class="btn btn-danger">I'm aware of the consequences, and still wish to veto this solution</a>
  </div>
{% endblock %}
